@media (max-width: 780px) {
.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0em;
  display:flex;
  flex-direction: column;
  border-radius: 50%;
  margin: 0em auto 0em auto;
  
}

.avatar__image {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  width: 60%;
  margin:0em auto 2em auto;
  z-index: 3;
}
}
@media (min-width: 780px) {
.circle-container {
  position: relative;
  width: 40em;
  height: 40em;
  padding: 11em;
  border-radius: 50%;
  margin: 0em auto 0;
  transition: transform 0.5s ease-out;
}

.avatar__image {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

.center {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.deg0 {
  animation: deg0 2s ease-out;
  transform: translate(16em);
  /*box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg30 {
  animation: deg30 2s ease-out;
  transform: rotate(30deg) translate(16em) rotate(-30deg);
  /*box-shadow: 3.33px 1.66px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg60 {
  animation: deg60 2s ease-out;
  transform: rotate(60deg) translate(16em) rotate(-60deg);
  /*box-shadow: 1.66px 3.33px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg90 {
  animation: deg90 2s ease-out;
  transform: rotate(90deg) translate(16em) rotate(-90deg);
  /*box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg120 {
  animation: deg120 2s ease-out;
  transform: rotate(120deg) translate(16em) rotate(-120deg);
  /*box-shadow: -1.33px 3.33px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg150 {
  animation: deg150 2s ease-out;
  transform: rotate(150deg) translate(16em) rotate(-150deg);
  /*box-shadow: -3.33px 1.33px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg180 {
  animation: deg180 2s ease-out;
  transform: translate(-16em);
 /* box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg210 {
  animation: deg210 2s ease-out;
  transform: rotate(210deg) translate(16em) rotate(-210deg);
 /*box-shadow: -3.33px -1.66px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg240 {
  animation: deg240 2s ease-out;
  transform: rotate(240deg) translate(16em) rotate(-240deg);
  /*box-shadow: -1.66px -3.33px 5px 0px rgba(0, 0, 0, 0.75);*/
}
.deg270 {
  animation: deg270 2s ease-out;
  transform: rotate(270deg) translate(16em) rotate(-270deg);
  /*box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);*/

}
.deg300 {
  animation: deg300 2s ease-out;
  transform: rotate(300deg) translate(16em) rotate(-300deg);
  /*box-shadow: 1.66px -3.33px 5px 0px rgba(0, 0, 0, 0.75);*/

}
.deg330 {
  animation: deg330 2s ease-out;
  transform: rotate(330deg) translate(16em) rotate(-330deg);
  /*box-shadow: 3.33px -1.66px 5px 0px rgba(0, 0, 0, 0.75);*/

}

@keyframes deg0 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(16em);
  }
}

@keyframes deg30 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(30deg) translate(16em) rotate(-30deg);
  }
}

@keyframes deg60 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(60deg) translate(16em) rotate(-60deg);
  }
}
@keyframes deg90 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(90deg) translate(16em) rotate(-90deg);
  }
}

@keyframes deg120 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(120deg) translate(16em) rotate(-120deg);
  }
}

@keyframes deg150 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(150deg) translate(16em) rotate(-150deg);
  }
}

@keyframes deg180 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(180deg) translate(16em) rotate(-180deg);
  }
}

@keyframes deg210 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(210deg) translate(16em) rotate(-210deg);
  }
}

@keyframes deg240 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(240deg) translate(16em) rotate(-240deg);
  }
}

@keyframes deg270 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(270deg) translate(16em) rotate(-270deg);
  }
}

@keyframes deg300 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(300deg) translate(16em) rotate(-300deg);
  }
}

@keyframes deg330 {
  0% {
    transform: rotate(0deg) translate(0em) rotate(0deg);
  }
  100% {
    transform: rotate(330deg) translate(16em) rotate(-330deg);
  }
}
}